body {
background-image: url('k-brico-wall-bianco.jpg');
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    text-align: center;
    color: burlywood;
}
h3{
    color:rgb(192, 80, 15)
}
.left{
    position: absolute; 
    left: 20; 
    top: 20; 
    width: 60%; 
    text-align: center;
}
.right{
    position: absolute; 
    right: 0; 
    top: 20; 
    width: 40%;
    font-size: 18px;
    
}
table{
    border: 2px solid rgb(62, 62, 126);
    width: 40%;
    height: 30px;
    text-align: center;
    background-color: white;
}

.spele {
    display: inline-block;
    background: rgb(173, 106, 30);
    font-size: 20px;
    text-align:center;
    padding:6px 2px 2px 2px;
}

.block {
    display: inline-block;
    background: rgb(231, 223, 223);
    width: 35px;
    height: 35px;
    border: 2px solid rgb(157, 191, 243);
}

p {
    color: rgb(109, 64, 6);
}
  
.izmantotsBurts{
    color:rgb(134, 79, 7);
}

.wrapper{
    width: 600px;
    height: 500px;
    padding: 20px;
    margin: auto;
    margin-top: 10%;
}
.chataZinas{
     height: 400px;
    color:rgb(110, 63, 16);
    padding: 10px;
    overflow: scroll;
}